body {
    font-family: 'Source Sans Pro', sans-serif;
    //background-color: darkgrey;
    font-size: 1.2rem;
}

header {
    height: 3rem;
    font-size: 1.2em;
    //background-color: chartreuse;
}

.days {
    font-size: 0.6em;
}

footer {
    min-height:40px;
    background-color: #fece08;
        .footerRow {
            background-color: #fece08;
            a {
                text-decoration: none;
                font-size: 0.6rem;
                font-weight: 600;
                color: #003f63; 
            }
        }
}