body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #d6d6d6;
    font-size: 1.2rem;
}

header {
    height: 3rem;
    font-size: 1.2em;
    //background-color: chartreuse;
}

.fifty {
    width: 2.3rem;
}

.padZero {
    padding: 0;
}

h1 {
    font-size:2rem;
}
footer {
    min-height:40px;
    background-color: #292b2c;
        .footerRow {
            background-color: #292b2c;
            a {
                text-decoration: none;
                font-size: 0.6rem;
                font-weight: 600;
                color: #f29515;
            }
        }
}