footer {
    min-height:40px;
    background-color: #fece08;
        .footerRow {
            background-color: #fece08;
            a {
                text-decoration: none;
                font-size: 0.6rem;
                font-weight: 600;
                color: #003f63; 
            }
        }
}